// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


a{
    text-decoration: none;
}
#bookItem {
    //background-color: rgb(132,103,74);

    width: 250px;
    height: 320px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    img{
        width: 170px;
        margin-top: 15px;
        border-radius: 10px;
        &:hover{
            box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);

        }
    }


}
#bookItem:hover{
    //background-color: rgb(95,77,51);
}
#mainDiv{

    display: flex;
    flex-direction: row;
    gap:30px;
    width: 90%;
    flex-wrap: wrap;
    justify-content: center;

    margin:auto;
    p{
        color: white;
        font-weight: bold;
        font-size: 15px;
    }

}

#createForm{
    display: flex;
    flex-direction: column;
    width: 400px;

    gap: 15px;
    margin: auto;

    input,select,button,textarea{
        border-radius: 3px;
        outline: none;
        border: none;
        padding: 10px;
        background-color: gainsboro;
        color: rgb(74,85,104);
        font-size: 20px;
    }
    button:hover{
        background-color: rgb(74,85,104);
        border: 1px solid;
        color: white;
    }

}
body{
    background-color: rgb(75,108,93)   ;
}

#booksInfo {
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    width: 750px;
    img{
        width: 200px;
    }
}

#copertaSiInfo{
    display:flex;
    p, div{
        font-size: 15px;
        margin-left: 10px;
        margin-bottom: 30px;
    }
    margin-bottom: 15px;
}

#editSauDelete{
    display:flex;
    gap: 15px;
    button{
        border:none;
    }
}


.gallery{
    display: grid;
    width: 1400px;
    margin: auto;
    gap: 10px;
    grid-template-columns: repeat(11, 1fr);
    grid-template-areas:
     "B B B A A A A A C C C"
     "B B B A A A A A C C C"
     "D D E E E F F F G G G"
     "D D E E E F F F G G G"
     "J J E E E F F F G G G"
     "J J E E E I I I H H H"
     "J J K K K I I I H H H"
     "J J K K K I I I H H H"
;

}

.gallery div img{
    width: 100%;
    height: 30vh;
    margin: 0;
    object-fit: cover;
    border-radius:5px;

}


#prima{
    grid-area: A;
}
#doi{
    grid-area: B;
}
#trei{
    grid-area: C;
}
#patru{
    grid-area: D;
}
#cinci{
    grid-area: E;
}
#sase{
    grid-area: F;
}
#sapte{
    grid-area: G;
}
#opt{
    grid-area: H;
}
#noua{
    grid-area: I;
}
#zece{
    grid-area: J;
}
#unsprezece{
    grid-area: K;
}

.imgg img:hover{

    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    animation: efectDeHover 0.8s;
}

@keyframes efectDeHover{
    0%{
        transform: scale(1.0);
    }
    50%{
        transform: scale(1.03);
    }
    100%{
        transform: scale(1.0);
    }
}

#container{
    position:relative;
    p{
        position: absolute;
        top: 50%; /* Adjust the top position as needed */
        left: 50%; /* Adjust the left position as needed */
        transform: translate(-50%, -50%); /* Center the text horizontally and vertically */
        background-color: rgba(255, 255, 255, 0.7); /* Add a background color to the text */
        padding: 10px; /* Add padding to the text */
        z-index: 1; /* Ensure the text is above the image (you can adjust this value as needed) */
        font-size: 20px;
    }
}

#copyright{
    text-align: center;
    font-size: 9px;
    font-family: Verdana;
}





@media screen and (min-width: 768px){
    #navbarSupportedContent{
        margin-left: 100px;
    }
    #auto{
        display:flex;
        gap:40px;

    }
}

#auto{
    display:flex;
    gap:40px;

}
//#forrrrm{
//    margin-right:-30%;
//    background-color: red;
//}


#recenzieDiv{

    display: flex;
    flex-direction: column;
    gap: 35px;
    #recenzie{
        background-color: beige;
        border-radius: 10px;
        padding: 10px;

    }
}

#butonBook{
    padding: 6px;
    background-color: rgb(207,179,138);
    border-radius: 5px;
    &:hover{
        background-color: rgb(245,245,220);
    }
    &:active{
        transform: translateY(3px);
    }
}
#deleteButton{
    background-color: palevioletred;
    border-radius: 5px;
    padding: 4px;
    &:hover{
        background-color: orangered;
    }
}

#pagination{
    display: flex;
    margin-top: 10px;
    justify-content: center;

    //Coloram cu albastru nr culorii actuale a paginii
    li {
        span{
            color:blue;
        }
    }

    a,span{
        font-size: 25px;
        background-color: transparent;
        border:none;
        color: black;

        &:hover{
            color:blue;
        }
    }
}

.form-group{

    input{
        outline:none;

    }
    button{
        outline:none;
        border-radius: 5px;
        border: none;
    }
}

#forrrrm{
    transform: translateY(7px);
}

//////steregeeee

@media screen and (min-width: 1400px){
    #forrrrm{
        margin-left: 140px;
    }
}

@media screen and (max-width: 992px){
    .container{
        max-width: 900px;
    }
    #auto{
        display:flex;
        gap:10px;
    }
}

@media screen and (min-width: 992px){
    .container{
        max-width: 1300px;
    }
    #auto{
        display:flex;
        gap:0px;
    }
}




//////steregeeeeeee






#searchInput{
    border-radius: 5px;
    outline:none;
    border:none;
    &:hover{
        background-color: gainsboro;
    }
}
#searchButton{
    &:hover{
        background-color: #595959;
    }
    &:active{
        transform: translateY(3px);
    }
}

#solicitaCarte{
    display:flex;
    justify-content: center;
    color: white;
    font-size: 16px;
    a{
        color: blue;
    &:hover{
        color:white;
    }
    }
}
#booksToAddDiv{
    background-color: rgb(90 131 131);
    display:flex;
    color:white;
    width: 80%;

    img{
        width: 150px;
    }
    #detaliiCerereAdaugare{
        margin-left: 10px;
        button{
            outline:none;
            border:none;
            border-radius: 3px;
            padding: 5px;
            &:hover{
                background-color: rgb(75,108,93);
                color:white;
                border: 1px solid white;
            }
            &:active{
                transform: translateY(3px);
            }
        }
        #stergeCerereButon{
            background-color: palevioletred;
            margin: 5px;
            &:hover{
                background-color: #c75345;
            }
        }
    }
}
#mainDivVizualizamCereriAdaugare{
    display:flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 10px;
}
